# ===============================
# Python
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# Machine Learning models (large files)
# ===============================
ml_model/*.pkl
ml_model/*.joblib

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# VS Code
# ===============================
.vscode/

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Build
# ===============================
dist/
build/
